<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Employees</title>
</head>
<body>
<h1>Form Employees</h1>
<form
    th:action="@{/listEmployee}" th:object="${employeeForm}" method="post">
    <label for="name"> Name</label>
    <input type="text" id="name" th:field="*{name}"/> <br/>
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

    <label for="department"> Department</label>
    <input type="text" id="department" th:field="*{department}"/> <br/>
    <div th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></div>

    <label for="email" > Email </label>
    <input type="email" id="email" th:field="*{email}"/> <br>
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

    <label for="salary"> Salary </label>
    <input type="number" id="salary" th:field="*{salary}"/> <br/>
    <div th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"></div>

    <button type="submit">Submit</button>


</form>
</body>
</html>