<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
</head>
<tbody>
<h1>Products List</h1>
<table>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> Price </th>
        <th> Special Message </th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}">1</td>
        <td th:text="${product.name}">Product 1</td>
        <td th:text="${product.price}">100</td>
        <td th:text="${product.available ? 'Available' : 'Unavailable'}"></td>
        <td th:if="${product.available}" th:text="'Product can be ordered'"></td>
    </tr>
</table>

</tbody>
</html>