<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Student</title>
</head>
<body>
      <h1>Add Student</h1>
      <form th:action="@{/students}" th:object="${student}" method="post">
        First Name: <input type="text" th:field="*{firstName}" /><br>
        Last Name: <input type="text" th:field="*{lastName}" /><br>
        Email: <input type="email" th:field="*{email}"/><br>
        Enroll in Courses:
        <div th:each="course : ${courses}">
          <input type="checkbox" name="courseIds" th:value="${course.id}" />
          <span th:text="${course.courseName}"></span>
        </div>
        <button type="submit">Save</button>
      </form>
</body>
</html>